nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; /* left & right */
    align-items: center;
    padding: 0 20px;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ffd700;
    padding:0.7rem;
    background:rgba(0,0,0,0.3);
    border-radius:8px;
    
}