header{
    background:rgba(0,0,0,0.3);
    padding: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

#nav {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position:sticky;
    top: 0;
}
.nav-links {
    font-size: 20px;
    font-weight: bold;
    padding-right:5rem;
    text-align: right;
    display: flex;
    gap: 30px;
    list-style: none;
}
.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}
.nav-links a:hover {
    background:rgba(0,0,0,0.6);
    padding:15px;
    border-radius:6px;
    color: #ffd700;
}