*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg,#1e3c72 0%, #2a5298 100%);
    color: #fff;
    min-height: 100vh;
}

header{
    background:rgba(0,0,0,0.3);
    padding: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
.football-logo{
    font-size: 28px;
    font-weight: bold;
    color: #ffd700;
}

.class-welcome {
    text-align: center;
    padding-top: 3rem;
    text-shadow: 2px 2px rgba(0,0,0,0.4);
}
.class-welcome h1{
    font-size: 52px;
    font-weight: bold;
}
.class-welcome p{
    padding-top:1rem;
    font-size:22px;
}

.content{
    padding: 6rem 10rem;
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    gap:30px;
}
.main-class{
    background:rgba(255, 255, 255, 0.1);
    text-align: center;
    width:30rem;
    border:2px solid #7c7a7a;
    border-radius:10px;
    padding:30px;
}

